**Q.1  Write a code to reverse a string.**

In [ ]:
def reverse_string(s):
    return s[::-1]

# Example usage
input_string = "Hello, World!"
reversed_string = reverse_string(input_string)
print("Original String:", input_string)
print("Reversed String:", reversed_string)

Original String: Hello, World!
Reversed String: !dlroW ,olleH

Q.2 Write a code to count the number of vowels in a string.

In [ ]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

# Example usage
input_string = "Hello, World!"
vowel_count = count_vowels(input_string)
print("Original String:", input_string)
print("Number of Vowels:", vowel_count)

Original String: Hello, World!
Number of Vowels: 3

Q.3 Write a code to check if a given string is a palindrome or not.

In [ ]:
def is_palindrome(s):
    # Remove spaces and convert to lowercase for accurate comparison
    s = ''.join(s.split()).lower()
    # Check if the string is equal to its reverse
    return s == s[::-1]

# Example usage
input_string = "A man a plan a canal Panama"
if is_palindrome(input_string):
    print(f'"{input_string}" is a palindrome.')
else:
    print(f'"{input_string}" is not a palindrome.')

"A man a plan a canal Panama" is a palindrome.

**Q.4 Write a code to check if two given strings are anagrams of each other**

In [ ]:
def are_anagrams(str1, str2):
    # Remove spaces, convert to lowercase, and sort the characters
    str1 = ''.join(str1.split()).lower()
    str2 = ''.join(str2.split()).lower()

    # Check if sorted characters are equal
    return sorted(str1) == sorted(str2)

# Example usage
string1 = "Listen"
string2 = "Silent"
if are_anagrams(string1, string2):
    print(f'"{string1}" and "{string2}" are anagrams.')
else:
    print(f'"{string1}" and "{string2}" are not anagrams.')

"Listen" and "Silent" are anagrams.

Q.5 Write a code to find all occurrences of a given substring within another string.

In [ ]:
def find_substring_occurrences(main_string, substring):
    occurrences = []
    start = 0
    while start < len(main_string):
        # Find the next occurrence of the substring
        start = main_string.find(substring, start)
        if start == -1:  # No more occurrences
            break
        occurrences.append(start)
        # Move start index forward to find subsequent occurrences
        start += 1
    return occurrences

# Example usage
main_string = "abracadabra"
substring = "abra"
positions = find_substring_occurrences(main_string, substring)

if positions:
    print(f'The substring "{substring}" was found at positions: {positions}')
else:
    print(f'The substring "{substring}" was not found in the main string.')

The substring "abra" was found at positions: [0, 7]


Q.6 Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
def compress_string(s):
    if not s:
        return ""

    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1

    # Add the last character and its count
    compressed.append(s[-1] + str(count))

    # Join the compressed parts into a single string
    compressed_string = ''.join(compressed)

    # Return the compressed string if it's shorter than the original
    return compressed_string if len(compressed_string) < len(s) else s

# Example usage
input_string = "aaabcccccaaa"
compressed_result = compress_string(input_string)
print("Original String:", input_string)
print("Compressed String:", compressed_result)

Original String: aaabcccccaaa
Compressed String: a3b1c5a3

Q.7 Write a code to determine if a string has all unique characters.

In [ ]:
def has_unique_characters(s):
    # Use a set to track seen characters
    seen = set()
    for char in s:
        if char in seen:
            return False  # Duplicate character found
        seen.add(char)
    return True  # All characters are unique

# Example usage
input_string = "abcdefg"
if has_unique_characters(input_string):
    print(f'The string "{input_string}" has all unique characters.')
else:
    print(f'The string "{input_string}" does not have all unique characters.')

The string "abcdefg" has all unique characters.

Q.8 Write a code to convert a given string to uppercase or lowercase.

In [ ]:
def convert_case(s, to_upper=True):
    if to_upper:
        return s.upper()  # Convert to uppercase
    else:
        return s.lower()  # Convert to lowercase

# Example usage
input_string = "Hello, World!"
uppercased = convert_case(input_string, to_upper=True)
lowercased = convert_case(input_string, to_upper=False)

print("Original String:", input_string)
print("Uppercase:", uppercased)
print("Lowercase:", lowercased)

Original String: Hello, World!
Uppercase: HELLO, WORLD!
Lowercase: hello, world!

**Q.9 Write a code to count the number of words in a string.**

In [ ]:
def count_words(s):
    # Split the string by whitespace and count the resulting parts
    words = s.split()
    return len(words)

# Example usage
input_string = "Hello, how are you doing today?"
word_count = count_words(input_string)

print("Original String:", input_string)
print("Number of Words:", word_count)

Original String: Hello, how are you doing today?
Number of Words: 6

Q.10 Write a code to concatenate two strings without using the + operator.

In [ ]:
def concatenate_strings(s1, s2):
    # Use the join() method to concatenate
    return ''.join([s1, s2])

# Example usage
string1 = "Hello"
string2 = "World"
result = concatenate_strings(string1, string2)

print("String 1:", string1)
print("String 2:", string2)
print("Concatenated String:", result)

String 1: Hello
String 2: World
Concatenated String: HelloWorld

Q.11 Write a code to remove all occurrences of a specific element from a list.

In [ ]:
def remove_element(lst, element):
    # Use list comprehension to filter out the element
    return [item for item in lst if item != element]

# Example usage
input_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
result = remove_element(input_list, element_to_remove)

print("Original List:", input_list)
print("List after removing all occurrences of", element_to_remove, ":", result)

Original List: [1, 2, 3, 4, 2, 5, 2]
List after removing all occurrences of 2 : [1, 3, 4, 5]

Q.12 Implement a code to find the second largest number in a given list of integers.

In [ ]:
def second_largest(lst):
    # Convert the list to a set to remove duplicates and sort the unique elements
    unique_lst = list(set(lst))

    # If the list has fewer than 2 elements, return None (not enough numbers for second largest)
    if len(unique_lst) < 2:
        return None

    # Sort the unique elements in descending order
    unique_lst.sort(reverse=True)

    # Return the second largest number
    return unique_lst[1]

# Example usage
input_list = [10, 20, 4, 45, 99, 99]
result = second_largest(input_list)

if result is None:
    print("The list doesn't have enough unique elements for a second largest number.")
else:
    print("The second largest number is:", result)

The second largest number is: 45

Q.13 Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:
def count_occurrences(lst):
    # Create an empty dictionary to store the count of each element
    count_dict = {}

    # Iterate over the list and update the dictionary with the count of each element
    for item in lst:
        if item in count_dict:
            count_dict[item] += 1
        else:
            count_dict[item] = 1

    return count_dict

# Example usage
input_list = [1, 2, 2, 3, 3, 3, 4, 5, 5]
result = count_occurrences(input_list)

print("Occurrences of elements:", result)

Occurrences of elements: {1: 1, 2: 2, 3: 3, 4: 1, 5: 2}

Q.14 Write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
def reverse_list(lst):
    left = 0
    right = len(lst) - 1

    while left < right:
        # Swap the elements at left and right
        lst[left], lst[right] = lst[right], lst[left]

        # Move the pointers towards the center
        left += 1
        right -= 1

# Example usage
input_list = [1, 2, 3, 4, 5]
reverse_list(input_list)

print("Reversed List:", input_list)

Reversed List: [5, 4, 3, 2, 1]

Q.15 Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [ ]:
def remove_duplicates(lst):
    seen = set()  # A set to track already seen elements
    result = []   # A list to store elements without duplicates

    for item in lst:
        if item not in seen:
            result.append(item)  # Add item to result if not seen
            seen.add(item)        # Mark the item as seen

    return result

# Example usage
input_list = [1, 2, 3, 2, 4, 5, 5, 6, 1]
result = remove_duplicates(input_list)

print("List without duplicates:", result)

List without duplicates: [1, 2, 3, 4, 5, 6]

Q.16 Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
def is_sorted(lst):
    # Check if the list is sorted in ascending order
    if all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1)):
        return "Ascending"
    # Check if the list is sorted in descending order
    elif all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1)):
        return "Descending"
    else:
        return "Not Sorted"

# Example usage
input_list = [1, 2, 3, 4, 5]
result = is_sorted(input_list)

print(f"The list is {result}.")

The list is Ascending.

Q.17 Write a code to merge two sorted lists into a single sorted list.

In [ ]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i, j = 0, 0

    # Iterate through both lists and add the smaller element to merged_list
    while i < len(list1) and j < len(list2):
        if list1[i] <= list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # If any elements are left in list1, add them
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1

    # If any elements are left in list2, add them
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list

# Example usage
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
result = merge_sorted_lists(list1, list2)

print("Merged Sorted List:", result)

Merged Sorted List: [1, 2, 3, 4, 5, 6, 7, 8]

Q.18 Implement a code to find the intersection of two given lists.

Q.22 Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [ ]:
def intersection_of_lists(list1, list2):
    # Convert the lists to sets and find the intersection
    return list(set(list1) & set(list2))

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = intersection_of_lists(list1, list2)

print("Intersection of Lists:", result)

Intersection of Lists: [4, 5]

Q.19 Create a code to find the union of two lists without duplicates.

In [ ]:
def union_of_lists(list1, list2):
    # Convert both lists to sets and find the union
    return list(set(list1) | set(list2))

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = union_of_lists(list1, list2)

print("Union of Lists:", result)

Union of Lists: [1, 2, 3, 4, 5, 6, 7, 8]

Q.20 Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
import random

def shuffle_list(lst):
    # Iterate through the list in reverse order
    for i in range(len(lst) - 1, 0, -1):
        # Generate a random index from 0 to i
        j = random.randint(0, i)
        # Swap the elements at index i and j
        lst[i], lst[j] = lst[j], lst[i]
    return lst

# Example usage
input_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(input_list)

print("Shuffled List:", shuffled_list)

Shuffled List: [3, 2, 5, 4, 1]

Q.21 Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [ ]:
def common_elements(tuple1, tuple2):
    # Convert both tuples to sets to find the intersection
    common = set(tuple1) & set(tuple2)

    # Return the common elements as a tuple
    return tuple(common)

# Example usage
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result = common_elements(tuple1, tuple2)

print("Common Elements:", result)

Common Elements: (4, 5)

Q.23 Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    # Concatenate the two tuples
    return tuple1 + tuple2

# Example usage
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)

print("Concatenated Tuple:", result)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

**Q.25 Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.**

In [ ]:
def extract_elements(original_tuple, start_index, end_index):
    """
    Extracts a subtuple from the given tuple using the specified range of indices.

    Parameters:
        original_tuple (tuple): The original tuple.
        start_index (int): The starting index (inclusive).
        end_index (int): The ending index (exclusive).

    Returns:
        tuple: A new tuple containing elements within the specified range.
    """
    return original_tuple[start_index:end_index]

# Input: Original tuple and two integers
original_tuple = tuple(input("Enter elements of the tuple, separated by spaces: ").split())
start_index = int(input("Enter the starting index (inclusive): "))
end_index = int(input("Enter the ending index (exclusive): "))

# Call the function and print the result
result = extract_elements(original_tuple, start_index, end_index)
print("Extracted subtuple:", result)

Enter elements of the tuple, separated by spaces: a b c d e f g h
Enter the starting index (inclusive): 2
Enter the ending index (exclusive): 4
Extracted subtuple: ('c', 'd')

Q.26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:
# Prompt user to input the first set of characters
set1_input = input("Enter characters for the first set, separated by spaces: ")
set2_input = input("Enter characters for the second set, separated by spaces: ")

# Convert the input strings to sets
set1 = set(set1_input.split())
set2 = set(set2_input.split())

# Find the union of the two sets
union_set = set1.union(set2)

# Print the result
print("Union of the two sets:")
print(union_set)

Enter characters for the first set, separated by spaces: a b c
Enter characters for the second set, separated by spaces: c d e
Union of the two sets:
{'e', 'd', 'b', 'a', 'c'}

Q.27 Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [1]:
def find_max_min(input_tuple):
    if not input_tuple:  # Check for empty tuple
        return None, None
    # Use built-in min and max functions
    min_val, max_val = min(input_tuple), max(input_tuple)
    return max_val, min_val  # Tuple unpacking for return values

# Example usage
numbers = (3, 7, 2, 9, 4, 6)
max_value, min_value = find_max_min(numbers)

print("Maximum:", max_value)
print("Minimum:", min_value)

Maximum: 9
Minimum: 2

Q.35 Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [ ]:
def invert_dictionary(original_dict):
    inverted_dict = {}

    for key, value in original_dict.items():
        # If the value is already a key in the inverted dictionary, append the key to the list
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]  # If the value isn't already a key, create a new list with the current key

    return inverted_dict

# Example usage
input_dict = {
    'a': 1,
    'b': 2,
    'c': 1,
    'd': 3,
    'e': 2
}

inverted_dict = invert_dictionary(input_dict)

print("Original Dictionary:", input_dict)
print("Inverted Dictionary:", inverted_dict)

Original Dictionary: {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2}
Inverted Dictionary: {1: ['a', 'c'], 2: ['b', 'e'], 3: ['d']}

In [ ]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()  # Start with a copy of the first dictionary

    # Iterate over the second dictionary and merge values
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value  # Add the values if the key exists
        else:
            merged_dict[key] = value  # Add the key-value pair if it's new

    return merged_dict

# Example usage
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}

merged_dict = merge_dictionaries(dict1, dict2)

print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'a': 1, 'b': 5, 'c': 7, 'd': 5}

In [ ]:
def get_set_input(prompt):
    # Prompt the user to input a set of strings separated by commas
    user_input = input(prompt)

    # Convert the input string into a set of strings
    return set(user_input.split(','))

def main():
    # Get two sets of strings from the user
    set1 = get_set_input("Enter the first set of strings (separated by commas):apple,banana,orange ")
    set2 = get_set_input("Enter the second set of strings (separated by commas):banana,grape ")

    # Find the symmetric difference of the two sets
    symmetric_difference = set1 ^ set2  # Or set1.symmetric_difference(set2)

    # Print the result
    print("Symmetric Difference of the two sets:", symmetric_difference)

# Example usage
main()

Enter the first set of strings (separated by commas): apple,banana,orange  banana,grape
Enter the second set of strings (separated by commas): banana,grape banana,grape
Symmetric Difference of the two sets: {'grape banana', 'orange  banana', 'apple'}

Q.29 Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [ ]:
def count_occurrences(tpl, element):
    # Use the count() method of the tuple to count occurrences of the element
    return tpl.count(element)

# Example usage
input_tuple = tuple(input("Enter a tuple of values separated by commas:apple,banana,orange,apple,grape ").split(','))
element = input("Enter the element to count occurrences of:apple ")

# Count the occurrences of the element in the tuple
count = count_occurrences(input_tuple, element)

print(f"The element '{element}' appears {count} time(s) in the tuple.")

Enter a tuple of values separated by commas: apple,banana,orange,apple,grape
Enter the element to count occurrences of: apple
The element 'apple' appears 2 time(s) in the tuple.

Q.28Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [ ]:
def main():
    # Define two sets of integers
    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}

    # Union of set1 and set2 (all elements from both sets)
    union_set = set1 | set2  # Alternatively, you can use set1.union(set2)

    # Intersection of set1 and set2 (common elements in both sets)
    intersection_set = set1 & set2  # Alternatively, you can use set1.intersection(set2)

    # Difference of set1 and set2 (elements in set1 but not in set2)
    difference_set = set1 - set2  # Alternatively, you can use set1.difference(set2)

    # Print the results
    print("Union of the two sets:", union_set)
    print("Intersection of the two sets:", intersection_set)
    print("Difference of set1 and set2:", difference_set)

# Example usage
main()

Union of the two sets: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of the two sets: {4, 5}
Difference of set1 and set2: {1, 2, 3}

Q.27 Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [ ]:
def find_max_min(tpl):
    # Unpacking the tuple into the maximum and minimum values
    max_val, min_val = max(tpl), min(tpl)
    return max_val, min_val

# Example usage
input_tuple = tuple(map(int, input("Enter a tuple of integers separated by commas: ").split(',')))

# Get the maximum and minimum values using the function
max_val, min_val = find_max_min(input_tuple)

print("Maximum value:", max_val)
print("Minimum value:", min_val)

Enter a tuple of integers separated by commas: 10,40,60,70,30,50
Maximum value: 70
Minimum value: 10

In [ ]:
def get_set_input(prompt):
    # Prompt the user to input a set of characters separated by commas
    user_input = input(prompt)

    # Convert the input string into a set of characters
    return set(user_input.split(','))

def main():
    # Get two sets of characters from the user
    set1 = get_set_input("Enter the first set of characters (separated by commas): ")
    set2 = get_set_input("Enter the second set of characters (separated by commas): ")

    # Find the union of the two sets
    union_set = set1 | set2  # Or set1.union(set2)

    # Print the result
    print("Union of the two sets:", union_set)

# Example usage
main()

Enter the first set of characters (separated by commas): a,b,c,d
Enter the second set of characters (separated by commas): c,d,e,f
Union of the two sets: {'b', 'f', 'd', 'e', 'c', 'a'}

In [ ]:
def slice_tuple(tpl, start, end):
    # Slice the tuple from the start index to the end index (exclusive)
    return tpl[start:end]

# Example usage
input_tuple = tuple(map(int, input("Enter a tuple of integers separated by commas: ").split(',')))
start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))

# Get the sliced tuple based on the specified range
sliced_tuple = slice_tuple(input_tuple, start_index, end_index)

print("Sliced Tuple:", sliced_tuple)

Enter a tuple of integers separated by commas: 10,20,30,40,50
Enter the start index: 1
Enter the end index: 4
Sliced Tuple: (20, 30, 40)


**Q.24 Develop a code that prompts the user to input two sets of strings. Then, print the elements that arE present in the first set but not in the second set.**

In [ ]:
def get_set_input(prompt):
    # Prompt the user to input a set of strings separated by commas
    user_input = input(prompt)

    # Convert the input string into a set of strings
    return set(user_input.split(','))

def main():
    # Get two sets of strings from the user
    set1 = get_set_input("Enter the first set of strings (separated by commas): ")
    set2 = get_set_input("Enter the second set of strings (separated by commas): ")

    # Find the elements that are in the first set but not in the second set
    difference = set1 - set2  # Or use set1.difference(set2)

    # Print the result
    print("Elements in the first set but not in the second set:", difference)

# Example usage
main()

Enter the first set of strings (separated by commas): apple,banana,orange
Enter the second set of strings (separated by commas): banana,grape
Elements in the first set but not in the second set: {'orange', 'apple'}

Q.30 Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [2]:
def symmetric_difference():
    # Prompt the user to input two sets of strings
    set1 = set(input("Enter the first set of strings (separated by spaces): ").split())
    set2 = set(input("Enter the second set of strings (separated by spaces): ").split())

    # Calculate the symmetric difference
    sym_diff = set1.symmetric_difference(set2)

    # Print the symmetric difference
    print("The symmetric difference of the two sets is:", sym_diff)

# Call the function
symmetric_difference()

Enter the first set of strings (separated by spaces): apple banana cherry
Enter the second set of strings (separated by spaces): cherry apple banana
The symmetric difference of the two sets is: set()

Q.31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [3]:
def word_frequencies(word_list):
    # Initialize an empty dictionary to store word frequencies
    frequency_dict = {}

    # Iterate through each word in the list
    for word in word_list:
        # Increment the count for each word or initialize it to 1 if not already in the dictionary
        frequency_dict[word] = frequency_dict.get(word, 0) + 1

    return frequency_dict

# Example usage
words = input("Enter a list of words separated by spaces: ").split()
frequencies = word_frequencies(words)

print("Word Frequencies:", frequencies)

Enter a list of words separated by spaces: apple banana apple cherry banana apple
Word Frequencies: {'apple': 3, 'banana': 2, 'cherry': 1}

Q.32 Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [4]:
def merge_dictionaries(dict1, dict2):
    # Initialize a new dictionary to store the merged result
    merged_dict = dict1.copy()  # Start with a copy of the first dictionary

    # Iterate through the second dictionary
    for key, value in dict2.items():
        # Add the value if the key exists; otherwise, set the new value
        merged_dict[key] = merged_dict.get(key, 0) + value

    return merged_dict

# Example usage
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 15, 'c': 25, 'd': 40}

merged = merge_dictionaries(dict1, dict2)

print("Merged Dictionary:", merged)

Merged Dictionary: {'a': 10, 'b': 35, 'c': 55, 'd': 40}

Q.33 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [5]:
def get_nested_value(nested_dict, keys):
    current = nested_dict
    for key in keys:
        if isinstance(current, dict) and key in current:
            current = current[key]
        else:
            return None  # Return None if any key is missing
    return current

# Example usage
nested_dict = {
    "a": {
        "b": {
            "c": {
                "d": 42
            }
        }
    }
}

keys = ["a", "b", "c", "d"]
value = get_nested_value(nested_dict, keys)
print("Value:", value)  # Output: 42

# Example with a missing key
keys_missing = ["a", "b", "x"]
value_missing = get_nested_value(nested_dict, keys_missing)
print("Value with missing key:", value_missing)  # Output: None

Value: 42
Value with missing key: None

Q.34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [6]:
def sort_dictionary_by_values(input_dict, ascending=True):
    # Sort the dictionary by values and return a new dictionary
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict

# Example usage
input_dict = {'a': 10, 'b': 5, 'c': 20, 'd': 15}

# Sort in ascending order
sorted_asc = sort_dictionary_by_values(input_dict, ascending=True)
print("Sorted in ascending order:", sorted_asc)

# Sort in descending order
sorted_desc = sort_dictionary_by_values(input_dict, ascending=False)
print("Sorted in descending order:", sorted_desc)

Sorted in ascending order: {'b': 5, 'a': 10, 'd': 15, 'c': 20}
Sorted in descending order: {'c': 20, 'd': 15, 'a': 10, 'b': 5}